<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"   [class.selected]="hero === selectedHero"
 (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<form action="/action_page.js">
  <input type="number" id="par1" placeholder="Numeri">
  <input type="number" id="par2" placeholder="Numeri">
  <div>
    <textarea id="result"> somma  </textarea>
  </div>
  <div>
    <button type="submit" (click)="alertMess()"> cazzo !</button>
  </div>
</form>
